
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
  <h1><%=edit %></h1>
  <form  action="/action_page.php">
    <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      
        <input type='name' class='form-control' id='name' placeholder='Enter Name' name="name">
      
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="college">College:</label>
  

        <input type='college' class='form-control' id='college' placeholder='Enter College' name="college">
      
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="course">Course:</label>
      
        <input type='course' class='form-control' id='course' placeholder='Enter Course' name="course">
      
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Semester:</label>
      
        <input type="semester" class="form-control" id="semester" placeholder="semester" name="semester">
      
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="facebookLink">FacebookLink:</label>
                
        <input type="text" class="form-control" id="facebookLink" placeholder="facebooklink" name="facebooklink">
      
    </div>
    <div class="form-group">        
      
        
          <button type="" name="button "> Choose photos</button>
        
      
    </div>
    
    <div class="form-group">        
      
        <button type="submit" class="btn btn-default">Update</button>
        <button type="submit" class="btn btn-default">Delete</button>
      
      
    </div>


         
      
        
   
  


</form>
</body>
</html>
